* {
  line-height: 1em;
  border-color: var(--base-line);
}

html {
  @apply lexend scroll-smooth;
  color: var(--base-fore);
  background-color: var(--base-back);
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

#root {
  @apply relative mx-auto min-h-screen max-w-screen w-2xl flex flex-col;
}

#head,
#foot {
  @apply flex justify-between py-3;
}

#head {
  @apply border-b fixed top-0;
  width: inherit;
  background-color: color-mix(in srgb, var(--base-back), transparent 25%);
  backdrop-filter: blur(2px);
  h1 {
    @apply lexend-bold;
    color: var(--base-accent-primary);
  }
  ul {
    @apply flex relative;
    &::after {
      content: "";
      @apply absolute z-0;
      position-anchor: --active-item;
      position-area: center;
      width: anchor-size(--active-item width, 0);
      height: anchor-size(--active-item height, 0);
      background-color: var(--menu-active);
      border-radius: 4px;
    }
  }
  li {
    position: relative;
    z-index: 100;
    &:not(:last-child) {
      @apply mr-4;
    }
    &.active {
      @apply lexend-semi-bold;
      color: var(--base-accent-primary);
      anchor-name: --active-item;
    }
  }
}

#foot {
  @apply border-t;
  a {
    @apply font-bold;
  }
}

#body {
  @apply flex-1 h-dvh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  section {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    @apply h-dvh;
    padding-top: 41px;
    & > div {
      @apply h-full py-2;
    }
  }
  #hero {
    @apply bg-red-500;
  }
  #about {
    @apply bg-green-500;
  }
  #contact {
    @apply bg-blue-500;
  }
  #portfolio {
    @apply bg-purple-500;
  }
}
