@theme {
  --wght-thin: 100;
  --wght-extra-light: 200;
  --wght-light: 300;
  --wght-regular: 400;
  --wght-medium: 500;
  --wght-semi-bold: 600;
  --wght-bold: 700;
  --wght-extra-bold: 800;
  --wght-black: 900;
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Lexend.ttf") format("truetype-variations");
}

/* @theme {
  --default-font-family: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --default-mono-font-family: ui-monospace, monospace;
} */

@utility lexend {
  font-family: "Lexend", sans-serif;
  font-variation-settings: "wght" 400;
}

@utility lexend-* {
  font-family: "Lexend", sans-serif;
  font-variation-settings: "wght" --value(--wght-*);
}
